.bank-info {
    background-color: #1e1e1e;
    color: #888;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0;
    border-radius: 5px;
    --qrcode-size: 130px;
}
.bank-info[hidden] {
    display: none;
}
.bank-info h1,
.bank-info h2,
.bank-info h3,
.bank-info h4,
.bank-info h5 {
    margin: 0;
    word-break: break-all;
}
.bank-info h1,
.bank-info h2,
.bank-info h3 {
    text-transform: uppercase;
}
.bank-info h1 {
    font-size: 16px;
    color: #b2b0b9;
}
.bank-info h2 {
    font-size: 20px;
    color: #fff;
}
.bank-info h3 {
    font-size: 18px;
    color: #fff;
}
.bank-info h4 {
    font-size: 16px;
    word-break: break-word;
    color: #95939e;
}
.bank-info h3,
.bank-info h4 {
    display: none;
}
.bank-info .bank-account-number-container {
    display: flex;
    align-items: center;
}
.bank-info.bank-info .bank-account-number-container img {
    height: 18px;
    margin: -4px 0 0 0;
}
.bank-info [data-bank-info="header"] {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}
.bank-info [data-bank-info="header"] img {
    height: 30px;
}
.bank-info [data-bank-info="details"] {
    flex-grow: 1;
    flex-basis: calc(100% - (var(--qrcode-size) + 20px * 2));
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    overflow: hidden;
}
.bank-info [data-bank-info="details"] h1 {
    margin-top: 10px;
}
.bank-info [data-bank-info="details"] [data-section] {
    flex-basis: calc((100% - 10px) / 2);
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.bank-info [data-bank-info="details"] [data-section="right"] {
    align-items: end;
}
.bank-info [data-bank-info="details"] [data-section="right"] [data-bank-icon] {
    flex-grow: 1;
}
.bank-info [data-bank-info="qrcode"] {
    flex-basis: calc(var(--qrcode-size) + 10px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bank-info [data-bank-info="qrcode"]:empty {
    display: none;
}
.bank-info [data-bank-info="qrcode"] img {
    width: var(--qrcode-size);
    height: var(--qrcode-size);
}
.bank-info hr {
    border-top: 1px solid #000;
    border-bottom: 1px solid #393939;
    margin: 10px 0;
    width: 100%;
}
.bank-info [data-bank-info="actions"] {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
}
.bank-info [data-bank-info="details"] img,
.bank-info [data-bank-info="actions"] img {
    width: auto;
    height: 20px;
}
.bank-info .download-qr-code-button {
    display: none;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #363346;
    color: #fff;
}
.bank-info .download-qr-code-button:hover {
    background-color: #494464;
}
.bank-info .download-qr-code-button img {
    margin: -2px 2px 0 0;
}
.bank-info[data-high-priority="true"] [data-bank-info="details"] h1,
.bank-info[data-high-priority="true"] [data-bank-info="details"] h2,
.bank-info[data-high-priority="true"] [data-bank-info="actions"] button,
.bank-info[data-high-priority="true"] hr,
.bank-info:not([data-high-priority="true"])
    [data-bank-info="details"]
    .recommended-for-instant-process {
    display: none;
}
.recommended-for-instant-process {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ddd;
}
.recommended-for-instant-process span {
    margin-left: 5px;
    font-weight: normal;
    color: #fff;
}
.to-account-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.available-payment-accounts-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.available-payment-accounts-popup.show {
    display: block;
}
.available-payment-accounts-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 55px));
    width: 65%;
    max-height: 65vh;
    overflow: auto;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
.available-payment-accounts-container .available-payment-account-group-label {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 0 5px;
}
.available-payment-accounts-container
    .available-payment-account-group-label:last-child {
    display: none;
}
.available-payment-accounts-container
    .available-payment-account-group-label:not(:first-child) {
    margin-top: 30px;
}
.available-payment-accounts-container
    .available-payment-account-group-label
    span {
    font-weight: 900;
    color: #000;
}
.available-payment-accounts-container .available-payment-account-item {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-label,
.available-payment-accounts-container
    .available-payment-account-item[data-is-maintenance="true"]
    .available-payment-account-label {
    padding: 3px 15px;
    border-radius: 20px;
    background-color: #148e00;
    color: #fff;
    font-size: 12px;
}
.available-payment-accounts-container
    .available-payment-account-item[data-is-maintenance="true"]
    .available-payment-account-label {
    background-color: #d7d7d7;
    color: #474747;
}
.available-payment-accounts-container
    .available-payment-account-item[data-is-maintenance="true"]
    .available-payment-account-status {
    background-color: #f00;
}
.available-payment-accounts-container
    .available-payment-account-item[data-is-maintenance="true"]
    .available-payment-account-logo,
.available-payment-accounts-container
    .available-payment-account-item[data-is-maintenance="true"]
    .available-payment-account-info {
    opacity: 0.3;
    filter: grayscale(100%);
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-status {
    flex-basis: 10%;
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #12b612;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-status[data-is-online="false"] {
    background-color: #f00;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-info,
.available-payment-accounts-container
    .available-payment-account-footer
    .available-payment-account-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    word-break: break-word;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-info
    .available-payment-account-name,
.available-payment-accounts-container
    .available-payment-account-footer
    .available-payment-account-info {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-info
    .available-payment-account-sub-info {
    font-size: 12px;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-info
    .available-payment-account-name
    > br {
    display: none;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-logo,
.available-payment-accounts-container
    .available-payment-account-footer
    .available-payment-account-logo {
    width: 30px;
    height: 30px;
}
.available-payment-accounts-container
    .available-payment-account-item
    .last-used-account {
    position: absolute;
    right: 20px;
    top: 5px;
    background: #bababa;
    color: #626262;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    font-size: 8px;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-action
    .available-payment-account-checkbox {
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #d7d7d7;
    position: relative;
}
.available-payment-accounts-container
    .available-payment-account-item
    .available-payment-account-action
    .available-payment-account-checkbox.checked:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    background: #736d99;
}
.available-payment-accounts-container .available-payment-account-footer {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 20px 10px 40px;
    background-color: #e8eaeb;
    margin-top: 10px;
}
.available-payment-accounts-container
    .available-payment-account-footer
    .new-payment-account-icon-container {
    font-size: 25px;
    color: #1b192e;
}
.available-payment-accounts-container .popup-loader-container.display {
    display: flex;
}
.available-payment-accounts-container .payment-account-container.display {
    display: block;
}
.available-payment-accounts-container .popup-loader-container {
    align-items: center;
    justify-content: center;
    min-height: 200px;
}
.available-payment-accounts-container .popup-loader-container,
.available-payment-accounts-container .payment-account-container {
    display: none;
}
.available-payment-accounts-container .payment-account-container form label {
    color: #000;
}
.available-payment-accounts-container .payment-account-container .form-control {
    background: #e8eaeb;
    border-radius: 4px;
    padding: 12px;
    height: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06) inset;
    border: 0;
    color: #393939;
}
.available-payment-accounts-container
    .payment-account-container
    .form-control
    option {
    background-color: initial;
}
.available-payment-accounts-container
    .payment-account-container
    .otp-container {
    border-top: 1px solid #bbb;
    margin-top: 15px;
    padding-top: 15px;
}
.available-payment-accounts-container
    .payment-account-container
    .otp-container
    .request-otp-button {
    margin-top: 10px;
    padding: 12px 18px;
    border-radius: 25px;
    white-space: initial;
}
.available-payment-accounts-container
    .payment-account-container
    .otp-container
    .request-otp-button[disabled] {
    background: #000;
}
.available-payment-accounts-container
    .payment-account-container
    .otp-container
    .contact-verification-link {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    line-height: 1.1;
}
.available-payment-accounts-container
    .payment-account-container
    .standard-button-group {
    text-align: right;
}
.available-payment-accounts-container .payment-account-container .btn {
    border-radius: 25px;
    padding: 12px 18px;
    font-size: 14px;
}
.available-payment-accounts-container .payment-account-container .btn-primary {
    color: #fff;
    border: 0;
    background: #1b192e;
}
.available-payment-accounts-container
    .payment-account-container
    .btn-primary:hover {
    color: #fff;
    background: #47427a;
}
.available-payment-accounts-container .close-button {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
    border: none;
    background: transparent;
    font-size: 28px;
    font-weight: 600;
    color: #000;
}
.payment-method-selection {
    position: relative;
    display: flex;
    width: 100%;
    gap: 8px;
}
.payment-method-selection > div {
    width: 100%;
}
.payment-method-selection input[type="radio"] {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}
.payment-method-selection label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #e9e9e9;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.payment-method-selection label img {
    width: 25px;
}
.payment-method-selection input[type="radio"] + label {
    color: #000;
}
.payment-method-selection input[type="radio"]:checked + label {
    background-color: #f7a103;
    background-image: linear-gradient(to right, #f7a103 0%, #ff6c00 100%);
    color: #fff;
}
.payment-method-selection input[type="radio"]:checked + label img {
    filter: brightness(0) invert(1);
}
.payment-method-selection input[type="radio"]:disabled + label {
    display: none;
}
.payment-maintenance-container,
.remarks-container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 14px;
    border-radius: 4px;
    background: #cbcbcb;
    color: #000;
}
.payment-maintenance-container i,
.remarks-container i {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #f00;
    color: #fff;
    border: 1px solid #fff;
    font-style: normal;
    display: block;
    text-align: center;
}
.remarks-container {
    border: 1px dotted #ff7900;
    background: rgba(255, 0, 0, 0.09);
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}
.remarks-container i {
    background-color: transparent;
    border-color: #ff7900;
    color: #ff7900;
}
.player-account-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.player-account-container .player-account-input {
    flex-basis: calc(100% - 42px);
    flex-grow: 0;
    flex-shrink: 0;
}
.player-account-container .player-account-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
}
.withdrawal-container .standard-form-title {
    margin-bottom: 10px;
}
.withdrawal-container .formatted-balance {
    color: #ff8a00;
}
.withdrawal-container hr.withdrawal-gap {
    margin: 20px 0 5px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(
        linear,
        0 0,
        100% 0,
        from(transparent),
        to(transparent),
        color-stop(50%, #fff)
    );
}
.withdrawal-container .withdrawal-form-group .head {
    display: flex;
    justify-content: space-between;
}
.withdrawal-container .withdrawal-form-group .head a {
    text-decoration: underline;
    color: #fff;
}
.withdrawal-container .withdrawal-form-group [data-section="wd-amount"] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.withdrawal-container
    .withdrawal-form-group
    [data-section="wd-amount"]
    [data-section="input"] {
    flex-basis: 100%;
}
.withdrawal-container .copy-bank-account-button {
    background: none;
    border: none;
    padding: 2px 5px;
    margin-left: 5px;
    cursor: pointer;
    color: #fff;
}
.withdrawal-container .copy-bank-account-button:hover {
    color: #ddd;
}
.withdrawal-container .real-withdrawal-amount {
    font-size: 24px;
    line-height: 1;
    flex-basis: 50%;
    text-align: right;
    word-break: break-all;
    color: #ff8a00;
}
.withdrawal-container .real-withdrawal-amount span {
    font-size: 12px;
    vertical-align: top;
}
.withdrawal-container .withdrawal-form-group {
    background-color: transparent;
    padding: 10px 0;
    margin-bottom: 0;
    border-radius: 5px;
}
.withdrawal-container .withdrawal-form-group .form-group:last-child {
    margin-bottom: 0;
}
.withdrawal-container .withdrawal-form-group [data-section="asterisk"] {
    color: #f00;
}
.withdrawal-container .standard-button-group .btn-primary,
.withdrawal-container .standard-button-group .btn-primary:hover {
    width: 300px;
    border-radius: 20px;
}
.withdrawal-container .bank-info [data-bank-info="actions"] {
    border-top: 1px solid #333;
    padding-top: 10px;
}
.withdrawal-container .admin-fee-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #d0b300;
}
.withdrawal-note {
    display: flex;
    align-items: stretch;
    background-color: transparent;
    padding: 0;
    border-bottom: none;
}
.withdrawal-note.standard-form-note strong,
.withdrawal-note.standard-form-note span {
    color: #0f0d1e;
}
.withdrawal-note-icon {
    flex-basis: calc(100% / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    background: linear-gradient(to bottom, #787880, #42424f);
}
.withdrawal-note-icon img {
    width: 40px;
}
.withdrawal-note-content {
    flex-basis: 100%;
    background-color: #cbcbcb;
    color: #0f0d1e;
    padding: 10px 15px;
    border-radius: 5px;
}
.withdrawal-note ul {
    padding-left: 16px;
}
.withdrawal-note ul li {
    list-style: decimal;
}
.withdrawal-confirmation-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.withdrawal-summary-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #242424;
}
.withdrawal-summary-container .withdrawal-summary-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    background-color: #242424;
    color: #fff;
}
.withdrawal-summary-container .withdrawal-summary-header .summary-title {
    flex-grow: 1;
}
.withdrawal-summary-container
    .withdrawal-summary-header
    .summary-transfer-amount {
    flex-grow: 1;
    margin-right: 5px;
    text-align: right;
    font-weight: bold;
    color: #0f0;
}
.withdrawal-summary-container .withdrawal-summary-header .toggler {
    font-size: 12px;
}
.withdrawal-summary-container .withdrawal-summary-content {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
    font-size: 12px;
}
.withdrawal-summary-container .withdrawal-summary-content.expand {
    display: flex;
}
.withdrawal-summary-container
    .withdrawal-summary-content
    .withdrawal-summary-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.withdrawal-summary-container
    .withdrawal-summary-content
    .withdrawal-summary-body
    .withdrawal-summary-title {
    color: #fff;
    font-weight: bold;
}
.withdrawal-summary-container
    .withdrawal-summary-content
    .withdrawal-summary-body
    .withdrawal-detail-container
    .withdrawal-detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.withdrawal-summary-container
    .withdrawal-summary-content
    .withdrawal-summary-body
    .withdrawal-detail-container
    .withdrawal-detail-item {
    flex-basis: calc((100% - 5px) / 2);
    color: #dbdbdb;
}
.withdrawal-summary-container
    .withdrawal-summary-content
    .withdrawal-summary-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color: #fff;
    border-top: 1px solid #242424;
}
.withdrawal-summary-container .transfer-amount {
    max-width: 50%;
    word-break: break-all;
}
