:root {
    --main-theme-color: #02bca2;
}
a {
    color: #fff;
}
.forgot-password-container {
    color: #fff;
}
.login-outer-container .form-control {
    border-color: #02bca2;
}
.login-panel .forgot-password-link {
    color: #fff;
}
.login-panel .register-field {
    color: #fff;
}
.login-panel .register-field .register-button {
    color: #02bca2;
    text-decoration: underline;
}
.banking-list [data-bank] {
    color: #fff;
}
.banking-container {
    color: #fff;
}
.banking-container .bank-name {
    color: #039984;
}
.banking-container .business-days > div {
    border-bottom-color: #151515;
}
.banking-container .business-days > div[data-online] i {
    background-color: #2f2f2f;
    color: #fff;
}
.banking-container .business-days > div[data-online] i:after {
    background-color: #f00;
}
.banking-container .business-days > div[data-online="true"] i:after {
    background-color: #008000;
}
.bonus-slider-modal .modal-body {
    background-color: #171717;
}
.bonus-slider-modal .modal-footer {
    background-color: #171717;
}
.bonus-slider-modal .activation-button {
    background-color: #02bca2;
    color: #fff;
}
.bonus-slider-modal .activation-button:hover {
    background-color: #039984;
    color: #fff;
}
.bonus-slider-modal .close-button {
    background-color: #454545;
}
.bonus-slider-modal .close-button:hover {
    background-color: #3e3e3e;
}
.bonus-slider-modal .bonus-form {
    background-color: #202020;
    color: #dad9d9;
    border-top-color: #8c8c8c;
}
.bonus-controls-field .bonus-control-button {
    background-color: #e4e4e4;
    color: #525252;
}
.bonus-controls-field .bonus-amount {
    background-color: #0e0e0e;
    color: #02bca2;
}
.bonus-range .bubble {
    color: #fff;
    border-color: #02bca2;
    background: #0e0e0e;
}
.bonus-range .bubble::before {
    border-color: rgba(233, 154, 1, 0);
    border-top-color: #02bca2;
}
.bonus-range .bubble::after {
    border-color: rgba(14, 14, 14, 0);
    border-top-color: #0e0e0e;
}
.claim-item {
    background-color: #1b1b1b;
}
.claim-item .claim-title {
    color: #fff;
}
.claim-item .claim-title .expiration-note {
    color: #ff0;
}
.claim-item .claim-details {
    color: #fff;
}
.bonus-progress {
    background-color: #d5d5d5;
    background: linear-gradient(
        to bottom,
        #d5d5d5 0%,
        #f5f5f5 47%,
        #d5d5d5 100%
    );
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.6);
}
.bonus-progress .progress {
    background: #555;
}
.progress-percentage {
    color: #5e5e5e;
    color: #fff;
}
.progress-percentage i {
    color: #26de7f;
}
.claim-info-modal h4 {
    color: #fff;
}
.claim-item {
    background-color: #161616;
    color: #fff;
    -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
    border: 1px solid #1f1f1f;
}
.claim-item .claim-details strong {
    color: #039984;
}
.claim-item .claim-button,
.claim-item .activation-button,
.claim-item .cancellation-button,
.claim-item .expiration-button {
    background-color: #02bca2;
    color: #fff;
}
.claim-item .claim-button {
    border-color: #02bca2;
    color: #000;
    background: #02bca2;
    background: -moz-linear-gradient(top, #02bca2 0%, #02bca2 100%);
    background: -webkit-linear-gradient(top, #02bca2 0%, #02bca2 100%);
    background: linear-gradient(to bottom, #02bca2 0%, #02bca2 100%);
}
.claim-item .claim-button:hover,
.claim-item .activation-button:hover,
.claim-item .cancellation-button:hover,
.claim-item .expiration-button:hover {
    background-color: #02bca2;
}
.claim-item .info-button {
    background-color: #555;
}
.claim-item .info-button:hover {
    background-color: #555;
}
.contact-us-list {
    background-color: #272727;
    color: #a5a5a5;
}
.contact-us-list li + li {
    border-top-color: #333;
}
.contact-us-list li h6 {
    color: #fff;
}
.contact-us-list li a {
    color: #02bca2;
}
.announcement-container {
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
}
.info-center-container h2 {
    color: #02bca2;
}
.info-center-container h3 {
    border-left-color: #02bca2;
}
.info-center-container a {
    color: #02bca2;
}
.info-center-container .panel-group .panel-heading {
    background-color: #424242;
}
.info-center-container .panel-group .panel-heading a {
    color: #fff;
}
.info-center-container .panel-group .panel-heading .glyphicon-question-sign {
    color: #a5a5a5;
}
.info-center-container
    .panel-default
    > .panel-heading
    + .panel-collapse
    .panel-body {
    background-color: #272727;
}
.about-us-container h5[data-title="safe-and-secure-gaming-environment"] {
    color: #00b4bf;
}
.about-us-container h5[data-title="customer-experience"] {
    color: #00bf99;
}
.about-us-container h5[data-title="fast-and-secure-payments"] {
    color: #9e5bff;
}
.about-us-container h5[data-title="sky-is-not-the-limit"] {
    color: #ff1688;
}
.about-us-container .inner-box {
    background-color: #0e0e0e;
    border-color: #332f2f;
}
.about-us-container .game-panel li > p {
    color: #fff;
}
body[data-route="message"] {
    background-color: #0a0814;
}
body[data-route="new-message"] .standard-form-container {
    background: #191919;
}
.messaging-side-menu {
    background-color: #1d1d1d;
    color: #fff;
}
.messaging-side-menu a[data-count]:not([data-count="0"]):after {
    background-color: #f00;
    color: #fff;
}
.no-message-container {
    color: #fff;
}
.message-table .logo-column,
.message-table .message-column {
    border-bottom-color: #484848;
}
.message-table a {
    color: #fff;
}
.message-subject {
    color: #fff;
    border-bottom-color: #02bca2;
}
.replied-message {
    color: #fff;
}
.replied-message .message-owner-info {
    color: #9c9c9c;
}
.delete-message-button-group {
    border-top-color: #484848;
}
.delete-message-button {
    color: #818181;
}
.mobile-app-container {
    color: #fff;
}
.mobile-app-container .nav {
    align-items: flex-end;
}
.mobile-app-container > h3 {
    color: #02bca2;
}
.mobile-app-container .logo-container {
    background-color: #252525;
}
.mobile-app-container .link-container a:hover {
    background-color: #131313;
}
.mobile-app-container .nav-tabs {
    border-bottom-color: #02bca2;
}
.mobile-app-container .nav-tabs > li > a {
    color: #9694a0;
}
.mobile-app-container .nav-tabs > li.active > a,
.mobile-app-container .nav-tabs > li.active > a:hover,
.mobile-app-container .nav-tabs > li.active > a:focus {
    background-color: transparent;
    color: #02bca2;
    border-color: #02bca2;
    border-bottom-color: transparent;
}
.mobile-app-container .tab-pane .note {
    color: #f00;
}
.mobile-app-container .tab-pane .important {
    color: #039984;
}
.mobile-app-container .tab-pane div[role="tabpanel"] a {
    color: #039984;
    text-decoration: underline;
}
.mobile-app-container .mobile-app-select {
    background-color: transparent;
    color: #fff;
}
.mobile-app-container .mobile-app-select .active a,
.mobile-app-container .mobile-app-select a:hover {
    background-color: #02bca2;
}
body[data-route="profile"] {
    background-color: #0a0814;
}
body[data-route="profile"] .standard-form-container,
body[data-route="bank-account"] .standard-form-container {
    background: #111;
}
.last-transaction-container {
    color: #fff;
}
.last-transaction-container .section-heading {
    color: #fff;
}
.last-transaction-container .table-bordered,
.last-transaction-container .table-bordered > thead > tr > th,
.last-transaction-container .table-bordered > tbody > tr > td {
    border-color: #424242;
    background-color: #272727;
}
.profile-container .username-field {
    color: #fff;
}
.profile-container .mobile-info-button {
    border-color: #02bca2;
    color: #fff;
}
.profile-container .mobile-info-button:hover {
    background-color: #02bca2;
    color: #fff;
}
.promotion-selection a {
    background-color: transparent;
    color: #ccc;
    text-transform: uppercase;
}
.promotion-selection a[data-active="true"] {
    background-color: #02bca2;
    background: linear-gradient(to right, #02bca2 0%, #039984 100%);
    color: #fff;
}
.promotion-item {
    background-color: #252525;
}
.promotion-item .button-container {
    color: #fff;
}
.promotion-item .button-container .click-for-more-info-button {
    background-color: #039984;
    background: linear-gradient(to bottom right, #039984, #02bca2);
}
body[data-route="promotion/details"] {
    background-color: #c0c0c0;
}
.promotion-info {
    color: #bbb;
}
.register-page-reminder {
    color: #858585;
}
.register-page-link a {
    color: #02bca2;
}
.register-done-container {
    color: #d5d5d5;
}
.register-done-container h2 {
    color: #fff;
}
.register-done-container a {
    background-color: #02bca2;
    color: #fff;
}
.register-done-container .btn-deposit {
    background: #02bca2;
    background: linear-gradient(to bottom, #02bca2 0%, #039984 100%);
}
.register-done-container .btn-deposit:hover {
    background: #039984;
    background: linear-gradient(to top, #02bca2 0%, #039984 100%);
}
.register-done-container .buttons-container-register-done .btn {
    border-color: #02bca2;
    color: #fff;
}
.register-done-container .buttons-container-register-done .btn:hover {
    border-color: transparent;
    background-color: #6a6a6a;
    background: linear-gradient(to bottom, #6a6a6a 0%, #484848 100%);
}
.register-done-container .register-verification-done {
    border-color: #02bca2;
    background: #02bca24f;
    color: #fff;
}
.register-done-container .register-verification-done .info {
    color: #02bca2;
    border-color: #02bca2;
}
.register-done-container .register-verification-done a {
    color: #01fddc;
}
.deposit-container {
    color: #fff;
    background: #0e0e0e;
}
.withdrawal-container {
    color: #fff;
    background: #0e0e0e;
}
.withdrawal-container .total-balance > span {
    color: #02bca2;
}
.withdrawal-container .bank-info,
.deposit-container .bank-info,
.bank-account-item {
    background-color: #212121;
    color: #888;
}
.withdrawal-container .real-withdrawal-amount,
.deposit-container .real-deposit-amount {
    color: #02bca2;
}
.main-menu-outer-container > i {
    background: #0e0e0e;
    color: #fff;
}
.main-menu-outer-container > main > a {
    color: #afafaf;
}
.main-menu-container > li > a {
    color: #afafaf;
}
.main-menu-container > [data-active="true"] > a[href="/mobile/hot-games"],
.main-menu-container > [data-active="true"] > a[href="/mobile/slots"],
.main-menu-container > [data-active="true"] > a[href="/mobile/sport"],
.main-menu-container > [data-active="true"] > a[href="/mobile/casino"],
.main-menu-container > [data-active="true"] > a[href="/mobile/arcade"],
.main-menu-container > [data-active="true"] > a[href="/mobile/poker"],
.main-menu-container > [data-active="true"] > a[href="/mobile/others"],
.main-menu-outer-container
    > main
    > a[href="/mobile/hot-games"][data-active="true"],
.main-menu-outer-container > main > a[href="/mobile/slots"][data-active="true"],
.main-menu-outer-container > main > a[href="/mobile/sport"][data-active="true"],
.main-menu-outer-container
    > main
    > a[href="/mobile/casino"][data-active="true"],
.main-menu-outer-container > main > a[href="/mobile/sport"][data-active="true"],
.main-menu-outer-container
    > main
    > a[href="/mobile/arcade"][data-active="true"],
.main-menu-outer-container
    > main
    > a[href="/mobile/crash-game"][data-active="true"],
.main-menu-outer-container
    > main
    > a[href="/mobile/e-sports"][data-active="true"],
.main-menu-outer-container > main > a[href="/mobile/poker"][data-active="true"],
.main-menu-outer-container
    > main
    > a[href="/mobile/others"][data-active="true"] {
    color: #fff;
}
.games-filter-section {
    background-color: #0e0e0e;
    color: #9694a0;
}
.games-filter-section .name-filter input[type="text"] {
    background-color: transparent;
    color: #fff;
}
.games-filter-section .name-filter:after {
    border-left: 1px solid #7e7e7e;
    max-height: 20px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.games-filter-section .category-filter .category-filter-link.active {
    border-bottom-color: #02bca2;
    color: #fff;
}
.game-list ul > li {
    color: #fff;
}
.bigger-game-list ul > li {
    color: #fff;
}
.bigger-game-list ul .inner-game-item,
.scrollable-game-list .inner-game-item {
    background-color: #272626;
    background-image: none;
}
.bigger-game-list ul .inner-game-item .wrapper-container img {
    background-color: #000;
}
.bigger-game-list ul .inner-game-item .wrapper-container .link-container {
    background-color: rgba(6, 0, 15, 0.85);
}
.free-play {
    color: #fff;
    border: 1px solid #fff;
    background: #111;
}
.free-play:hover {
    color: #000;
    background: #fff;
}
.play-now {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
    color: #fff;
}
.play-now:hover {
    background-color: #039984;
    background-image: linear-gradient(to right, #039984 0%, #02bca2 100%);
    color: #fff;
}
.game-buttons-field {
    background-color: #000;
}
body:not(.empty-layout) {
    background-color: #080808;
}
body[data-route="home"]:not(.empty-layout) {
    background-color: #0e0e0e;
}
.site-menu-trigger-input:checked
    + .inner-body-container
    .site-menu-trigger
    [data-icon="menu"] {
    background-color: transparent;
}
.site-menu-trigger-input:checked
    + .inner-body-container
    .site-menu-trigger
    [data-icon="menu"]:before,
.site-menu-trigger-input:checked
    + .inner-body-container
    .site-menu-trigger
    [data-icon="menu"]:after {
    background-color: #fff;
}
.site-header {
    background-color: #1e1e1e;
}
.site-header .header-info a[href="/mobile/register"] {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
    color: #fff;
}
.site-menu-trigger:before {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 0 2px rgba(255, 255, 255, 0.3);
}
.site-menu-trigger [data-icon="menu"] {
    background-color: #fff;
}
.site-menu > label {
    background-color: rgba(0, 0, 0, 0.8);
}
.site-menu > ul {
    background-color: #0e0e0e;
    color: #fff;
}
.site-menu li > a,
.site-menu summary {
    background-color: #0e0e0e;
    color: #fff;
    border-left-color: transparent;
}
.site-menu li > a[data-active="true"] {
    border-left-color: transparent;
}
.site-menu li > a:hover,
.site-menu summary:hover {
    color: #fff;
    border-left-color: transparent;
}
.site-menu li + li,
.site-menu details article {
    border-top-color: #0e0e0e;
}
.site-menu > ul > li > details[open] > summary {
    background: linear-gradient(to right, #039984 0%, #101010 100%);
    border-left-color: #039984;
}
.side-menu-user-info,
.side-menu-login-panel {
    background-color: #0e0e0e;
    background-image: linear-gradient(to right, #141414 0%, #000 100%);
}
.side-menu-login-panel input[type="text"],
.side-menu-login-panel input[type="password"] {
    background-color: #0c0c0c;
    color: #fff;
    border: 1px solid #2a2a2a;
}
.side-menu-login-panel input[type="submit"],
.side-menu-login-panel a {
    color: #fff;
    border-color: #fff;
}
.side-menu-login-panel a {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
    border-color: transparent;
}
.side-menu-login-panel input::-webkit-input-placeholder {
    color: #2a2a2a;
}
.side-menu-user-info .username {
    background: #02bca2;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.side-menu-user-info .balance > span {
    color: #02bca2;
}
.side-menu-user-info .buttons-container .logout-button {
    background-color: #252525;
    color: #fff;
}
.site-footer {
    background-color: #0e0e0e;
    color: #fff;
}
.site-footer a[data-active="true"] {
    color: #02bca2;
}
.user-balance {
    background-color: #0e0e0e;
    color: #fff;
}
.user-balance .balance > span {
    color: #02bca2;
}
.progressive-jackpot {
    background-color: #0e0e0e;
    color: #fff;
    text-shadow: 0 2px 22px #02bca2;
}
.progressive-jackpot .jackpot-currency {
    color: #02bca2;
}
.carousel-indicators li {
    border-color: #fff;
}
.carousel-indicators .active,
.carousel-indicators .slick-active {
    background-color: #02bca2;
    border-color: #02bca2;
}
.modal-header {
    background-color: #02bca2;
    background-image: linear-gradient(to bottom, #02bca2 0%, #039984 100%);
    color: #fff;
}
.modal-header .close {
    color: #fff;
}
.modal-body {
    background-color: #0c0c0c;
    color: #fff;
}
.modal-footer {
    background: #0c0c0c;
    border-top: 1px solid #2a2a2a;
}
.modal-footer .btn-secondary {
    background: none;
    color: #fff;
}
.modal-footer .btn-secondary:hover {
    color: #02bca2;
}
.modal-footer .btn-primary {
    color: #fff;
    background: #02bca2;
    background-image: none;
}
.modal-footer .btn-primary:hover {
    background: #fff;
    color: #02bca2;
}
.popup-modal [data-popup="maintenance"] p span {
    background: #02bca2;
    color: #fff;
}
.standard-form-container {
    background-color: #111;
    background-image: none;
    color: #676767;
}
.standard-form-container label {
    color: #fff;
    text-transform: uppercase;
}
.standard-form-container .form-control {
    background-color: transparent;
    color: #fff;
    border-bottom-color: #2a2a2a;
}
.standard-form-container .form-control:focus {
    border-color: #2a2a2a;
}
.standard-form-container .form-control option {
    background-color: #111;
}
.standard-form-container .form-control::-webkit-input-placeholder {
    color: #2a2a2a;
}
.required-form-group > label:after {
    color: #f00;
}
.reporting-form-container .reporting-control-group {
    color: #fff;
    background: #191919;
}
.reporting-control-group .form-control {
    background: #0e0e0e;
    color: #fff;
}
.reporting-scroll-container {
    background-color: #272727;
}
.reporting-scroll-container thead {
    background-color: #424242;
    color: #fff;
}
.reporting-scroll-container thead > tr > th {
    border-color: #424242;
}
.reporting-scroll-container thead th,
.reporting-scroll-container tbody tr td {
    border-color: #424242;
}
.reporting-scroll-container tbody tr td {
    color: #fff;
}
.standard-form-title {
    color: #02bca2;
}
.reporting-nav-bar {
    border-color: #02bca2;
    background-color: #0e0e0e;
    color: #fff;
}
.reporting-nav-bar a[data-active="true"] {
    background-color: #02bca2;
}
.standard-password-field > i {
    color: #2a2a2a;
}
.standard-button,
.standard-secondary-button,
.deposit-container .reveal-bank-account-button {
    color: #fff;
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.standard-button:hover,
.deposit-container .reveal-bank-account-button:hover {
    background-color: #039984;
    background-image: linear-gradient(to right, #039984 0%, #02bca2 100%);
}
.standard-form-note {
    color: #999;
}
.captcha-input .captcha-container .refresh-captcha-button {
    color: #fff;
}
.copy-input-button-field .copy-input-button {
    color: #fff;
    background: #02bca2;
    background: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.copy-input-button-field .copy-input-button:hover {
    color: #fff;
    background: #039984;
    background: linear-gradient(to right, #039984 0%, #02bca2 100%);
}
.standard-required-message,
.field-validation-error {
    color: #f00;
}
.expiration-countdown [data-section] {
    background-color: #039984;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.expiration-countdown [data-value] {
    background-color: #f6f6f6;
    color: #696969;
}
.standard-side-menu {
    background-color: #120e1d;
    color: #fff;
}
.standard-side-menu a {
    border-color: #171225;
    background-color: #171225;
    color: #fff;
}
.standard-side-menu a[data-active="true"] {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.standard-side-menu a:not([data-active="true"]):hover {
    border-color: #02bca2;
    color: #02bca2;
}
.standard-form-content {
    background-color: #111;
    color: #fff;
}
.popular-game-title-container {
    background-color: #242424;
    background-image: none;
    color: #fff;
}
.popular-game-title-container a {
    background-color: #039984;
    color: #fff;
}
.register-done-container > h2 span {
    color: #02bca2;
}
.referral-box {
    background-color: #212121;
    color: #fff;
}
.referral-box h4 {
    color: #fff;
}
.referral-code-container {
    border: 1px dashed #2a2a2a;
    background-color: #0c0c0c;
}
.referral-code-container a,
.change-referral-code a,
.referral-box a,
.whitelisted-domains-link a {
    color: #faa301;
}
.referral-code-container a:hover,
.change-referral-code a:hover,
.referral-box a:hover,
.whitelisted-domains-link a:hover {
    color: #039984;
}
.site-description,
.copyright {
    color: #696969;
}
.site-description:before {
    background: transparent;
    background-image: none;
}
.site-info {
    background-color: #141414;
}
.login-links-container,
.main-menu-container {
    font-family: "digital_sans_ef_medium";
}
.login-links-container a[href="/mobile/register"] {
    background-color: #02bca2;
}
.games-filter-section .name-filter .title {
    color: #02bca2;
}
body[data-route="login"] {
    background-image: none;
}
.user-balance > .balance::after {
    border-top-color: #fff;
}
.user-balance > .balance.open::after {
    border-color: #fff;
}
.user-balance .vendor-balances-container {
    border-color: #039984;
}
.user-balance .dropdown-menu.vendor-balances-container {
    background-color: rgba(0, 0, 0, 0.85);
}
.user-balance .vendor-balances-container .vendor-balances-header {
    border-color: #039984;
}
.user-balance .vendor-balances-container .vendor-balances-header,
.user-balance .vendor-balances-container strong {
    color: #039984;
}
.user-info .vendor-balances-container .vendor-balance-item {
    color: #fff;
}
.user-balance .vendor-balances-container ::-webkit-scrollbar-track {
    background: transparent;
}
.user-balance .vendor-balances-container ::-webkit-scrollbar-thumb {
    background: #58585a;
}
.site-contacts {
    background: #2c2c2c;
    background-image: none;
}
.site-contacts .contact-list li a i {
    background-color: #02bca2;
}
.download-apk-container {
    color: #fff;
}
.download-apk-container .h2 span {
    color: #02bca2;
}
.download-apk-guide {
    color: #fff;
}
.tab-menu-container {
    background-color: #808080;
}
.tab-menu-container a {
    color: #fff;
}
.tab-menu-container a[data-active="true"] {
    background-color: #02bca2;
}
.tab-menu-container a:not(:last-child) {
    border-right: 1px solid #fff;
}
.form-group-link-container a,
.form-group-link {
    color: #fff;
}
.balance-info-container > a {
    color: #fff;
}
.balance-info-container .total-balance > span {
    color: #02bca2;
}
.footer-links-container .footer-links li a:hover {
    color: #02bca2;
}
.bank-info [data-bank-info="qrcode"] {
    background-color: transparent;
    border: 1px solid #555;
}
.standard-form-note strong {
    color: #02bca2;
}
.standard-content-info h2 {
    color: #02bca2;
}
.bank-info-container .carousel-indicators .active {
    background-color: #02bca2;
}
.standard-content-info .referral-code-container {
    border: 1px dashed #02bca2;
    background-color: #022923;
    color: #02bca2;
}
.otp-hr {
    border-color: #fff;
}
.request-otp-button,
.request-otp-button:hover {
    border-color: #02bca2;
    color: #02bca2;
}
.otp-input {
    border-color: #fff;
}
.standard-form-container .offline-container,
.standard-form-container .offline-container h3,
.standard-form-container .offline-container h4 {
    color: #fff;
}
.bigger-game-list ul .inner-game-item .provider-name,
.scrollable-game-list main .inner-game-item .provider-name {
    color: #02bca2;
}
.date-picker-wrapper .drp_top-bar.normal {
    background-color: #02bca2;
}
.date-picker-wrapper .first-date-selected,
.date-picker-wrapper .last-date-selected {
    background-color: #02bca2 !important;
}
.date-picker-wrapper .month-wrapper table .day.real-today.checked,
.date-picker-wrapper .month-wrapper table .day.real-today.hovering {
    background-color: #0a8876;
}
.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: #d8f8f6;
}
.payment-method-selection input[type="radio"]:checked + label {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.withdrawal-container .real-withdrawal-amount {
    color: #02bca2;
}
[data-payment-gateway="qris"] .qris-qr-code-container a {
    background: #02bca2;
}
.notification-tabs .notification-tab-item[data-active="true"] {
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.top-tab-container a {
    background-color: #0f0f0f;
    color: #fff;
}
.top-tab-container a[data-active="true"] {
    background: linear-gradient(to right, #02bca2 0%, #039984 100%);
    color: #fff;
}
.download-apk-notification .download-btn {
    color: #fff;
    background-color: #02bca2;
    background-image: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.referral-features .referral-features-item .feature-icon > div {
    background: linear-gradient(to bottom, #02bca2 0%, #039984 100%);
}
.referral-features .referral-features-item .feature-info p {
    color: #02bca2;
}
.simple-form-note,
.referral-verification-container .standard-form-note,
.standard-form-note.with-icon > div:last-child p {
    color: #02bca2;
}
.pending-verification-container .icon-container {
    background-color: #02bca2;
}
.pending-verification-container p {
    color: #02bca2;
}
.referral-verification-container
    [data-is-contact-verified="false"]
    .profile-link {
    background: linear-gradient(to bottom, #02bca2 0%, #039984 100%);
}
.special-event,
.calendar-container
    .date-picker-wrapper.date-picker-wrapper
    .first-date-selected
    div.special-event,
.event-legend-container [data-legend="event-available"]::before {
    background-color: #09714c;
}
.calendar-container
    .date-picker-wrapper.date-picker-wrapper
    .first-date-selected
    div.group-event,
.group-event,
.event-legend-container [data-legend="group-event-available"]::before {
    background-color: #043d29;
}
.calendar-container
    .date-picker-wrapper.date-picker-wrapper
    .first-date-selected
    div {
    outline-color: #09714c;
}
.mission-container
    .mission-item[data-status="claimable"]
    .mission-action-container
    .action-button {
    background: linear-gradient(to right, #039984 0%, #02bba1 100%);
}
.daily-reward-container .standard-secondary-button {
    background: #039984;
    background: linear-gradient(to right, #039984 0%, #02bba1 100%);
}
.loyalty-container .tab-menu-container a[data-active="true"] {
    background-color: #039984;
}
.loyalty-container .loyalty-menu a[data-active="true"] {
    background-color: #039984;
    border-color: #039984;
}
.standard-section-title,
.benefit-container h2,
.how-it-works-container .how-it-works-section .how-it-works-section-title {
    color: #02bba1;
}
.introjs-tooltip-title.introjs-tooltip-title {
    color: #fff;
}
.introjs-tooltiptext.introjs-tooltiptext .subtitle {
    color: #02bba1;
}
.introjs-arrow.top-middle {
    border-bottom-color: #848484;
}
.introjs-nextbutton.introjs-nextbutton {
    background: #02bba1;
}
.introjs-nextbutton.introjs-nextbutton:focus {
    background: #02bba1;
}
.introjs-bullets.introjs-bullets ul li a.active,
.introjs-bullets.introjs-bullets ul li a:hover {
    background-color: #02bba1;
}
.introjs-skipbutton.introjs-skipbutton {
    color: #02bba1;
}
.payment-maintenance-container,
.remarks-container {
    background: #2d2c2c;
    color: #fff;
}
.payment-maintenance-container i,
.remarks-container i {
    background-color: #f00;
    color: #fff;
    border-color: #fff;
}
.remarks-container {
    border-color: #02bca2;
    background: #014d42;
    color: #fff;
}
.remarks-container i {
    background-color: transparent;
    border-color: #02bca2;
    color: #02bca2;
}
.deposit-summary-container .deposit-summary-header .summary-transfer-amount,
.withdrawal-summary-container
    .withdrawal-summary-header
    .summary-transfer-amount {
    color: #02bca2;
}
.popover {
    background-color: #02bca2;
    border-color: #02bca2;
    color: #fff;
}
.popover.top .arrow {
    border-top-color: #02bca2;
}
.popover.top .arrow:after {
    border-top-color: #02bca2;
}
[data-payment-gateway] .download-qr-button {
    background: #02bca2;
    background: linear-gradient(to right, #02bca2 0%, #039984 100%);
    color: #fff;
}
.bank-info .bank-account-number-container img,
.bank-info .download-qr-code-button img {
    filter: invert(1);
}
[data-payment-gateway] .destination-account-number-container img,
[data-payment-gateway] .va-account-number img,
[data-payment-gateway] .download-qr-button img {
    filter: invert(1);
}
.pending-transactions-container .pending-transactions-item {
    color: #fff;
    background-color: #202020;
}
.pending-transactions-container
    .pending-transactions-item
    [data-payment-gateway] {
    background-color: #262626;
    color: #fff;
}
.pending-transactions-container
    .pending-transactions-item
    [data-payment-gateway]
    span {
    color: #fff;
}
.pending-transactions-container.pending-transactions-container
    [data-payment-gateway]
    .destination-account-number-container
    img {
    filter: invert(1);
}
.pending-transactions-container
    .pending-transactions-item
    [data-payment-gateway]
    .destination-account-bank-info
    > div
    > img {
    filter: initial;
}
.modal-body .pending-transaction-summary-container,
.pending-transactions-container
    .pending-transactions-item
    .pending-transaction-remarks-container {
    border-color: #02bca2;
    color: #fff;
    background-color: #02bca233;
}
.modal-body
    .pending-transaction-summary-container
    .pending-transaction-summary-footer {
    border-top-color: #02bca2;
}
.modal-body
    .pending-transaction-summary-container
    .pending-transaction-summary-footer
    a {
    color: #fff;
    background: linear-gradient(to right, #02bca2 0%, #039984 100%);
}
.modal-body .pending-transaction-details-container {
    color: #fff;
    background-color: #171717;
    border-color: #171717;
}
.modal-body
    .pending-transaction-details-container
    .pending-transaction-details-item {
    background-color: #3b3b3b;
    border-color: #494848;
}
.modal-body
    .pending-transaction-details-container
    .pending-transaction-details-item
    hr {
    border-color: #484848;
}
.modal-body .pending-transaction-details-container::-webkit-scrollbar-thumb {
    background: #4d4f59;
}
.otp-fake-inputs div.filled,
.otp-fake-inputs div.focused {
    border-color: #02bca2;
}
.otp-popup .otp-popup-content .resend-button {
    color: #02bca2;
}
